.x-chrome {
    .x-form-text {
        display: inline;
    }
}

.background {
    background-image: url(square.gif);
}

.smsusage {
    label {
        font-weight: bold;
        color: #FFF;
    }
    .x-form-display-field {
        font-weight: bold;
        color: #FFF;
    }
}
